@charset "utf-8";
@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
@import "susy";

@import "index";
@import "code-blocks";

body {
    background-color: #f8f8f8;;
    font-family: "Source Sans Pro", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}