---
title: Home
---
<div class="page-wrap">
    <h1>TARL EYE TRACKING STUDY</h1>

    <ul class="links">
        <li>
            <a href="#">Github</a>
        </li>
        <li>
            <a href="#">Survey</a>
        </li>
    </ul>
    <h3>All code snippets</h3>
    <ul class="all-posts">
        <% blog.articles[0...5].each do |article| %>
            <li>
                <a href="<%= article.url %>"><%= article.title %></a>
            </li>
          </article>
        <% end %>
    </ul>
</div>