---
title: Home
---
<div class="page-wrap">
    <h1>TARL EYE TRACKING STUDY</h1>

    <ul class="links">
        <li>
            <%= link_to 'Github', 'https://github.com/gregoralbrecht/tarl-eyetracking' %>
        </li>
        <li>
            <a href="#">Survey</a>
        </li>
    </ul>
    <h3>All code snippets</h3>
    <ul class="all-posts">
        <% blog.articles[0...5].each do |article| %>
            <li>
                <%= link_to article.title, article.url, :relative => true %>
            </li>
          </article>
        <% end %>
    </ul>
</div>